# Virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc

# Flask uploads
static/uploads/

# Dataset
dataset/

# Generated ML features
features/
*.npy

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
